<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            DISPLAY TOPICS DETAILS
        </h1>
        <table border="2px">
            <tr>
                <th>topic_name</th>
            </tr>
            {% for t in topics %}
            <tr>
                <td>{{t.topic_name}}</td>
            </tr>
            {% endfor %}
        </table>
        <table border="2px">
            <tr>
                <th>topic_name</th>
                <th>player_name</th>
                <th>url</th>
            </tr>
            {% for w in webpages %}
            
             <tr>
                <th>{{w.topic_name}}</th>
                <th>{{w.player_name}}</th>
                <th>{{w.url}}</th>
             </tr>
            
            {% endfor %}

        </table>
        <table border="2px">
            <tr>
                <th>player_name</th>
                <th>date</th>
            </tr>

            {% for a in access %}
            <tr>
            <th>{{a.player_name}}</th>
            <th>{{a.date}}</th>
            </tr>

            {% endfor %}
        </table>
    </center>
</body>
</html>